
body {
  background-image: url("../images/light_grey.png");
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  margin-bottom: 20px;
}

.card-title {
  background: #4aaaa5;
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%;
  padding: 10 10 10 10px;
  left: 0;
} 

h2 {
  color: #4aaaa5;
  border-bottom: 2px solid darkgrey;
}

h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:white;
  text-align:center;
  border-bottom:3px solid #dddddd;
  background-color: #4aaaa5;
}

.container {
    background: white;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    }

footer {
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }  


